div(class='navbar navbar-fixed-bottom')
  div.navbar-inner
    div.container
      div.nav-collapse
        ul(class='nav nav-pills')
          li
            a(href='/func1') Func1
          li
            a(href='/func2') Func2
          li
            a(href='/func3') Func3
