div(class='navbar navbar-fixed-top')
  div.navbar-inner
    div.container-fluid
      a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(class="brand", href="/") joyce
      form(class="navbar-search pull-right")
        input(type='text', class='input-medium search-query', placeholder="Search")
      div.nav-collapse
        ul.nav
          li
            a(href="/") Home
          li
            a(href="/linkdef") Link Def
          li
            a(href="#") Contact

script
  $("form.navbar-search").submit(function(){return false;});
  $("input.search-query").change(function(event){
    window.location.href='/words/' + encodeURI($(this).val());
    return false;
  });
