include includes/head
include includes/foot

div.container-fluid
  div.row-fluid
    div.span3
      h1= words[0].lemma
      ul(class='nav nav-tabs nav-stacked')
        - words.forEach(function(w){
          li
            a(href='/sense/#{w.synset}')= w.pos + ". " + w.name
        - })

    div.span9
      p this is target
