include includes/head
//include includes/foot

div.container-fluid
  div.row-fluid
    div.span3
      ul(class='nav nav-tabs nav-stacked')
        li.nav-header synset
        - words.forEach(function(w){
        - if(w.synset!='')
          li
            a(href='/sense/#{w.synset}')
              i= w.pos+". "
              span= w.name
        - })

    div.span9
      div.hero-unit
        h1= words[0].lemma
        p.test
